In [62]:
import pandas as pd  
  
data = pd.read_csv('Paintings.csv')
  
# drop columns which are not needed
data.drop(['Seller', 'Buyer', 'Image', 'Painting Wikipedia Profile', 'Artist Wikipedia Profile', 'Description'], inplace=True, axis=1)

In [63]:
# data cleanup
data["Original Price"] = data["Original Price"].str.replace("$","",regex=True)   
data["Adjusted Price"] = data["Adjusted Price"].str.replace("$","",regex=True)   
data["Original Price"] = data["Original Price"].str.replace(',', '').astype(float)
data["Adjusted Price"] = data["Adjusted Price"].str.replace(',', '').astype(float)

In [64]:
data.head()

,Painting,Artist,Year of Painting,Adjusted Price,Original Price,Date of Sale,Year of Sale,Auction House
0,A Wheatfield with Cypresses,Vincent van Gogh,1889,93700000.0,57000000.0,1/05/1993,1993,Private sale
1,Acrobate et jeune arlequin,Pablo Picasso,1905,75900000.0,38500000.0,28/11/1988,1988,Christie's
2,Adele Bloch-Bauer II,Gustav Klimt,1912,103500000.0,87900000.0,2/11/2006,2006,Christie's
3,Anna's Light,Barnett Newman,1968,107300000.0,105700000.0,4/10/2013,2013,Private sale
4,Au Lapin Agile,Pablo Picasso,1904,76600000.0,40700000.0,27/11/1989,1989,Sotheby's

In [65]:
# saving data to a new file
data.to_csv('Paintings_new.csv')