## SQL practice - most expensive paintings
Source of dataset: https://github.com/ali-ce/datasets/blob/master/Most-Expensive-Things/Paintings.csv

In [2]:
import pandas as pd
import sqlite3

# Create connection to database
conn = sqlite3.connect("data.db")

# Create cursor object
cursor = conn.cursor()

In [3]:
plik = pd.read_csv('Paintings_new.csv')

In [4]:
plik.to_sql('Paintings', conn, if_exists='replace', index=False)

C:\Users\mateusz\anaconda3\lib\site-packages\pandas\core\generic.py:2779: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

In [5]:
df = pd.read_sql_query('''SELECT * from Paintings;''', conn)
 
df.head()

,Unnamed: 0,Painting,Artist,Year of Painting,Adjusted Price,Original Price,Date of Sale,Year of Sale,Auction House
0,0,A Wheatfield with Cypresses,Vincent van Gogh,1889,93700000.0,57000000.0,1/05/1993,1993,Private sale
1,1,Acrobate et jeune arlequin,Pablo Picasso,1905,75900000.0,38500000.0,28/11/1988,1988,Christie's
2,2,Adele Bloch-Bauer II,Gustav Klimt,1912,103500000.0,87900000.0,2/11/2006,2006,Christie's
3,3,Anna's Light,Barnett Newman,1968,107300000.0,105700000.0,4/10/2013,2013,Private sale
4,4,Au Lapin Agile,Pablo Picasso,1904,76600000.0,40700000.0,27/11/1989,1989,Sotheby's

### 5 most expensive paintings

In [65]:
paintings = cursor.execute('SELECT [Painting], [Artist], [Original Price] from Paintings ORDER BY [Original Price] DESC LIMIT 5;').fetchall()
paintings

[('The Card Players', 'Paul Cézanne', 259000000.0),
 ('Le Rêve', 'Pablo Picasso', 155000000.0),
 ('Three Studies of Lucian Freud', 'Francis Bacon', 142400000.0),
 ('No. 5, 1948', 'Jackson Pollock', 140000000.0),
 ('Woman III', 'Willem de Kooning', 137500000.0)]

### Average price

In [10]:
avg_price = cursor.execute('SELECT ROUND(AVG([Original Price]), 2) FROM Paintings').fetchall()
avg_price

[(82289090.91,)]

### Number of paintings sold by earch artist

In [66]:
painting_count = cursor.execute('SELECT [Artist], COUNT([Painting]) AS [Number of paintings] FROM Paintings GROUP BY 1 ORDER BY 2 DESC;').fetchall()
painting_count

[('Pablo Picasso', 10),
 ('Vincent van Gogh', 7),
 ('Andy Warhol', 5),
 ('Mark Rothko', 4),
 ('Titian', 3),
 ('Francis Bacon', 3),
 ('Willem de Kooning', 2),
 ('Paul Cézanne', 2),
 ('Jasper Johns', 2),
 ('Gustav Klimt', 2),
 ('Barnett Newman', 2),
 ('Wang Meng', 1),
 ('Thomas Eakins', 1),
 ('Qi Baishi', 1),
 ('Pontormo', 1),
 ('Pierre-Auguste Renoir', 1),
 ('Peter Paul Rubens', 1),
 ('Leonardo Da Vinci', 1),
 ('Kazimir Malevich', 1),
 ('Jackson Pollock', 1),
 ('Hans Holbein', 1),
 ('Edvard Munch', 1),
 ('Claude Monet', 1),
 ('Amedeo Modigliani', 1)]

### 5 most expensive artists

In [57]:
artists = cursor.execute('SELECT [Artist], SUM([Original Price]) AS Total from Paintings GROUP BY Artist ORDER BY 2 DESC;').fetchmany(5)
artists

[('Pablo Picasso', 741700000.0),
 ('Andy Warhol', 420500000.0),
 ('Vincent van Gogh', 410100000.0),
 ('Paul Cézanne', 319500000.0),
 ('Francis Bacon', 309500000.0)]

### Auction house with most profits

In [67]:
auction_house = cursor.execute('SELECT [Auction House], SUM([Original Price]) AS Total from Paintings GROUP BY 1 ORDER BY 2 DESC;').fetchall()
auction_house

[('Private sale ', 1806000000.0),
 ("Sotheby's", 1195100000.0),
 ("Christie's", 1129500000.0),
 ('Private sale', 155000000.0),
 ('China Guardian Auctions', 65500000.0),
 ('Phillips de Pury & Company', 63400000.0),
 ('Beijing Poly Auction', 62100000.0),
 ('Binoche et Godeau Paris', 49300000.0)]

### Most expensive painting sold in the 90s

In [7]:
auction_90s = cursor.execute('SELECT [Painting], [Artist], [Original Price] from Paintings WHERE [Year of Sale] BETWEEN 1990 AND 2000 ORDER BY [Original Price] DESC;').fetchmany(5)
auction_90s

[('Portrait of Dr. Gachet', 'Vincent van Gogh', 82500000.0),
 ('Bal du moulin de la Galette', 'Pierre-Auguste Renoir', 78100000.0),
 ("Portrait de l'artiste sans barbe", 'Vincent van Gogh', 71500000.0),
 ('Rideau, Cruchon et Compotier', 'Paul Cézanne', 60500000.0),
 ('A Wheatfield with Cypresses', 'Vincent van Gogh', 57000000.0)]

In [69]:
# Close connection to SQLite database
conn.close()